.menu {
  background: #f1f1f1;
  height: 70px;
}

.menu ul {
  list-style-type: none;
  width: 900px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "roboto";
  font-size: 16px;
  padding: 0;
}
.home {
  float: left;
  margin: 25px 20px 0 50px;

  transition-duration: 0.5s;
}
.home:hover {
  color: #ff8d00;
  cursor: pointer;
}

.menu li {
  float: left;
  margin: 25px 40px;
  transition-duration: 0.5s;
}
li:hover {
  color: #ff8d00;
  cursor: pointer;
}
