.about-section {
  height: 670px;
  padding: 35px 0;
}

.about-block {
  height: 670px;
  width: 1150px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1.1fr;
}

.left-block h1 {
  margin: 100px 0 35px 0;
  font-size: 60px;
  font-weight: bolder;
  font-family: "Archivo Black";
  text-transform: capitalize;
  text-align: justify;
}
.left-block h5 {
  margin: 15px 100px 0 0;
  font-size: 18px;
  font-weight: normal;
  font-family: "roboto";
  text-align: justify;
}
.left-block p {
  margin: 30px 46px 0 0;
  font-size: 14px;
  line-height: 2;
  font-weight: normal;
  font-family: "roboto";
  opacity: 0.5;
}
.left-block h6 {
  margin: 25px 0;
  font-size: 14px;
  font-family: "roboto";
  text-transform: capitalize;
  text-align: justify;
}

.left-block span {
  color: #ff8d00;
  margin: 0 30px 0 10px;
}
